{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}


{% block main %}
    {% if price %}
        <p>The price of the stock <strong>{{sym}}</strong> is <strong>{{ price }}</strong> on {{date}}</p>
    {% else %}
        <form action="/quote" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Get Quote </button>
        </form>
    {% endif %}
{% endblock %}

